html, body {
	font-family: Antic;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #262626;
}

#map-container {
	height: 100%;
	width: 100%;
}

#map, #map-row, #map-col {
	height: 100%;
}

#map-col {
	padding-left: 0px;
}

#pac-input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}